/* Todo Title  */
.todo-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #607d8b;
}

/* Todo form */
.todo-form {
  padding: 30px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .todo-form {
    padding: 30px 12px;
  }
}

.todo-input {
  width: 100%;
  border: 1px solid #5fb8e7;
  outline: none;
  padding: 5px 12px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.todo-input:focus {
  border-color: #607d8b;
}

.todo-submit-btn {
  border: none;
  outline: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 24px;
  background: #607d8b;
  color: #fff;
  line-height: 1;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

.todo-submit-btn:hover {
  opacity: 0.8;
}

.todo-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1rem;
}

@media (max-width: 600px) {
  .todo-items {
    grid-template-columns: 1fr;
  }
}

.todo-item {
  border-radius: 4px;
  box-shadow: 1px 1px 8px 0.2px rgb(0 0 0 / 20%);
  padding: 0.8rem 1rem;
}

.todo-item-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.todo-item .left {
  flex: 1;
  word-break: break-word;
}

.todo-item .left .name {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.02em;
  margin: 0 0 8px;
}

.todo-item .left p:last-child {
  margin-bottom: 0;
}

.todo-item .right {
  display: flex;
  flex-direction: column;
}

.todo-item .right > * {
  border: 1px solid pink;
  outline: none;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 1rem;
  transition: 0.3s;
}

.todo-item .right > *:hover {
  opacity: 0.8;
}

.todo-item .right .edit {
  margin-bottom: 8px;
  background: #607d8b;
  color: #fff;
}

.todo-item .right .remove {
  background: #8d0634;
  color: #fff;
}
